body{
    background-color: #e9eae7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #284e13;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
    font-weight: bold;
}

header img{
    display: flex;
    height: 100px;
    justify-content: center;
}

header a{
    text-decoration: none;
}
  
header a:link,
header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #bac3c8;
}

h1 {
    background-repeat: no-repeat;
    height: auto;
    text-align: center;
    font-size: 1.5em;
  }

nav{
    text-align: center;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
}

nav ul {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    line-height: 55px;
}

ul{
    list-style: none;
}

nav li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px solid;
}

nav a:link {
    color: #5C7FA3; /*5C7FA3*/
}
  
nav a:visited {
    color: #344873; /*344873*/
}
  
nav a:hover {
    color: #A52A2A; /*A52A2A*/
}

nav a{
    text-decoration: none;
}

main{
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

footer{
    background-color: #F4F4F4;
    padding: 1em;
}

footer img{
    height: 100px;
    padding-left: 3em;
}

footer ul{
    list-style: none;
}

#homehero {
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#homeHeroText{
    position: absolute;
    color: #6d6868;
    text-align: center;
    font-size: large;
}

#intro{
    text-align: center;
    color: #284e13;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#flow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.services{
    margin: 1em;
    background-color: #F4F4F4;
    color: #284e13;
}

form{
    display: grid;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #284e13;
}

form button{
    padding: 2em;
    background-color: #284e13;
    color: #FFFFFF;
}

button{
    border-radius: 10px;
    transition: all 0.2s ease;
}

.buttonLink{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #284e13;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 10px;
  }

.buttonLinkServices{
    display: grid;
    width: 15%;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #284e13;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.buttonLink h3:hover{
    color: #A52A2A;
}

.buttonLinkServices:hover{
    color: #A52A2A;
}

button:active{
    transform: scale(0.96);
}

button:hover{
    color: #A52A2A;
}

input{
    margin-bottom: 0.5em;
}

text{
    margin-bottom: 0.5em;
}

.estimateSection{
    display: grid;
    justify-content: center;
    align-items: center;
}

.estimateSection h2{
    display: grid;
    justify-content: center;
    align-items: center;
}

.estimateSection p{
    display: grid;
    justify-content: center;
    align-items: center;
}

table{
    margin:auto;
    width: 90%;
    border: 5px solid #284e13;
    border-collapse: collapse;
  }

td{
    padding: 5px;
    border: 1px;
    text-align: center;
} 

th{
    padding: 5px;
    border: 1px;
  }

td.text{
    text-align: left;
}

tr:nth-of-type(1){
    background-color: #FFFFFF;
}

#gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gallery img{
    width: 400px;
    height: 300px;
    border: solid #284e13;
    box-shadow: 3px 3px #4a4747;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

#gallery img:hover{
    transform: scale(1.05);
    filter:brightness(1)
}

.headingSection{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    color: #284e13;
}

.paragraphSection{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    color: #284e13;
}

.paragraphSection li{
    list-style: initial;
}

.paragraphSection button{
    width: 100px;
}
 
.paragraphSection a{
    text-decoration: none;
}

@media(min-width: 600px){
    h1{
        font-size: 2em;
        letter-spacing: 0.25em;
      }    

    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-right: 2em;
      }
    
      nav li{
        width: 12em;
        border-bottom: none;
      }
}

@media(min-width:1024px){
    body{
      
    }
  
    nav ul{
      padding-left: 10%;
      padding-right: 10%;
    }
}
